*{margin: 0;
padding:0}
nav{
    background-color: black;
    color:white;
    padding: 15px;
}
ul,li,h1{
    display: inline;
}
ul{
    margin-left: 65%;
    color:grey;
    Cursor:pointer;
}
li:hover{
    color:white;
}
input{
    width:60%;
    padding:15px
}
.Searchbar{
    text-align:center;
    padding: 50px;
}